#navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 200px;
  background-color: white;
}

#main-doc {
  margin-left: 200px;
}

@media (max-width: 600px) {
  #navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 200px;
  }
  #main-doc {
    position: relative;
    margin-top: 200px;
    margin-left: 0px;
  }
}